<h3 class="page-title" style="padding-top: 6px;"><strong>新建学期</strong></h3>
<div class="panel create-term-panel">
  <form nz-form [formGroup]="newTermInfo">
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" [nzSpan]="6">学期ID</nz-form-label>
      <nz-form-control [nzSm]="8" [nzXs]="15" nzHasFeedback>
        <input nz-input formControlName="termIdControl" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" [nzSpan]="6"
        >学期名称</nz-form-label
      >
      <nz-form-control [nzSm]="8" [nzXs]="15" nzHasFeedback>
        <input nz-input formControlName="termNameControl" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>开始时间</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="timeState">
        <nz-date-picker formControlName="startDatePicker"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>结束时间</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="timeState">
        <nz-date-picker formControlName="endDatePicker"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item style="margin: 0 auto;">
      <nz-form-control style="margin: 0 auto;" [nzSpan]="8" [nzOffset]="10">
        <button
          [ngStyle]="{
            'background-color':
              termIdControl.valid &&
              termNameControl.valid &&
              timeState == 'success'
                ? '#41B314'
                : '',
            'color':  termIdControl.valid &&
            termNameControl.valid &&
            timeState == 'success'
              ? 'white':'',
              'border-color':  termIdControl.valid &&
              termNameControl.valid &&
              timeState == 'success'
                ? 'white':''
          }"
          (click)="createTerm()"
          nz-button
          [nzType]="
            termIdControl.valid &&
            termNameControl.valid &&
            timeState == 'success'
              ? 'primary'
              : 'dashed'
          "
          [disabled]="
            !(termIdControl.valid && termNameControl.valid && timeState)
          "
        >
          创建学期
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
