<!--
 * @Descripttion: 
 * @version: 
 * @Author: Shadoowz
 * @Date: 2020-07-12 18:32:41
 * @LastEditors: Shadoowz
 * @LastEditTime: 2021-04-24 22:38:49
-->
<li>
  <ng-container *ngIf="!func.hasChildren && func.active">
    <a (click)="addTab(func.id, func.routerLink, func.name)">
      <i nz-icon [nzType]="func.icon" nzTheme="outline"></i
      ><span>{{ func.name }}</span></a
    >
  </ng-container>
  <ng-container *ngIf="func.hasChildren">
    <a [href]="'#' + func.datatarget" data-toggle="collapse" class="collapsed">
      <i nz-icon [nzType]="func.icon" nzTheme="outline"></i>
      <span>{{ func.name }}</span>
      <i class="icon-submenu lnr lnr-chevron-left"></i
    ></a>
    <div [id]="func.datatarget" class="collapse">
      <ul class="nav">
        <ng-container *ngFor="let service of func.children">
          <li *ngIf="service.active">
            <a (click)="addTab(service.id, service.routerlink, service.name)">
              <i nz-icon [nzType]="service.icon" nzTheme="outline"></i
              ><span>{{ service.name }}</span></a
            >
          </li>
        </ng-container>
      </ul>
    </div>
  </ng-container>
</li>
