<h3 class="page-title" style="padding-top: 6px"><strong>部门详情</strong></h3>
<div class="panel department-detail-panel">
  <nz-spin *ngIf="departmentModel == null" [nzSpinning]="true"></nz-spin>
  <nz-list
    nzBordered
    nzSize="small"
    *ngIf="departmentModel != null"
    [nzSplit]="true"
  >
    <nz-list-header>{{ departmentModel.departmentName }}</nz-list-header>
    <nz-list-item>
      <strong>部门主管：</strong>
      <p *ngIf="departmentModel.supervisor == null">未指定部门主管</p>
      <nz-tag nzColor="#3b5999" *ngIf="departmentModel.supervisor !== null" (click)="toDetail(departmentModel.supervisor.employeeId)">
        <i nz-icon nzType="audit"></i>
        <span>{{ departmentModel.supervisor.employeeName }}</span>
      </nz-tag>
     </nz-list-item>
    <nz-list-item *ngFor="let e of departmentModel.sps">
      部门副主管：
      <nz-tag nzColor="#3b5999" (click)="toDetail(e.employeeId)">
        <i nz-icon nzType="audit"></i>
        <span>{{ e.employeeName }}</span>
      </nz-tag>
    </nz-list-item>
    <nz-list-item *ngFor="let e of departmentModel.others">
      教职工：
      <nz-tag nzColor="#3b5999" (click)="toDetail(e.employeeId)">
        <i nz-icon nzType="audit"></i>
        <span>{{ e.employeeName }}</span>
      </nz-tag>
    </nz-list-item>
  </nz-list>
</div>
