/*
 * @Descripttion: 
 * @version: 
 * @Author: Shadoowz
 * @Date: 2020-12-01 21:27:35
 * @LastEditors: Shadoowz
 * @LastEditTime: 2020-12-02 15:50:50
 */
.create-employee-panel {
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    margin: 0 auto;
    width:600px;
    height:500px;

  }