<h3 class="page-title" style="padding-top: 6px;"><strong>查询课程</strong></h3>
<div class="row">
    <div class="panel query-course-panel">
        <form class="form-inline">
            <div class="form-group">
                <label for="courseCategory">课程类别&nbsp;&nbsp;</label>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" id="courseCategory" [(ngModel)]="categoryName" name="category" placeholder="TC" />    
                    
                </div>
            </div>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <div class="form-group">
                <label for="term-select">学期&nbsp;&nbsp;</label>
                <div class="input-group input-group-sm">
                    <input type="text" [(ngModel)]="categoryId" name="categoryId" class="form-control" id="term-select"
                        placeholder="20190101" />
                    
                </div>
            </div>
            <div class="btn btn-primary btn-sm" style="float: right;" (click)="searchCategory()">
                <span class="fa fa-search"></span>查询
            </div>
        </form>
        <hr align="center" style="width: 100%;">
        <table class="table table-hover">
            <thead class="course-list">
                <tr>
                <th>#</th>
                <th>分类名称</th>
                <th>英文名称</th>   
                <th>详情</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categoryList">
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.enName }}</td>
                    <td><a (click)="toCategoryDetail(category.id)">详情</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
