<!--
 * @Descripttion: 
 * @version: 
 * @Author: Shadoowz
 * @Date: 2020-07-19 22:02:15
 * @LastEditors: Shadoowz
 * @LastEditTime: 2021-04-16 13:00:53
-->
<h3 class="page-title" style="padding-top: 6px"><strong>新建课程</strong></h3>
<nz-spin [nzSpinning]="spiningFlag">
  <div class="panel create-course-panel">
    <form nz-form [formGroup]="courseBaseForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" [nzOffset]="3"> 课程ID </nz-form-label>
        <nz-form-control [nzSpan]="8" nzHasFeedback>
          <input nz-input formControlName="courseId" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5" [nzOffset]="3"> 课程名称 </nz-form-label>
        <nz-form-control [nzSpan]="8" nzHasFeedback>
          <input nz-input formControlName="courseName" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5" [nzOffset]="3"> 课程类别 </nz-form-label>
        <nz-form-control [nzSm]="8" [nzXs]="15">
          <nz-select
            [(ngModel)]="courseCategory"
            [ngModelOptions]="{ standalone: true }"
            [nzSize]="'small'"
          >
            <nz-option
              *ngFor="let c of categories"
              [nzValue]="c.categoryId"
              [nzLabel]="c.categoryName"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5" [nzOffset]="3"> 简介 </nz-form-label>
        <nz-form-control [nzSpan]="8" nzHasFeedback>
          <textarea nz-input formControlName="description"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-control [nzOffset]="6">
        <button
          nz-button
          [disabled]="!courseBaseForm.valid && courseCategory != null"
          (click)="createCourse()"
        >
          创建课程
        </button>
      </nz-form-control>
    </form>
  </div>
</nz-spin>
