<h3 class="page-title" style="padding-top: 6px">
  <strong>新建学生档案</strong>
</h3>
<div class="panel create-student-profile-panel" style="align-content: center">
  <app-student-profile
    [(studentProfile)]="studentProfile"
    [(familyRelations)]="familyRelations"
    [personTrace]="personTrace"
  ></app-student-profile>
  <nz-form-control [nzSpan]="10" [nzOffset]="18">
    <button nz-button (click)="submit()">提交</button>
  </nz-form-control>
  <div
    class="panel create-student-profile-panel"
    style="align-content: center"
  ></div>
</div>
