<!--
 * @Descripttion: 
 * @version: 
 * @Author: Shadoowz
 * @Date: 2020-07-26 21:28:10
 * @LastEditors: Shadoowz
 * @LastEditTime: 2020-12-15 20:52:53
-->
<h3 class="page-title" style="padding-top: 6px">
  <strong>新建课程分类</strong>
</h3>
<nz-spin [nzSpinning]="spinningFlag">
  <div class="panel create-course-panel">
    <form nz-form [formGroup]="categoryForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" [nzOffset]="3"> 分类ID</nz-form-label>
        <nz-form-control [nzSpan]="8" nzHasFeedback>
          <input nz-input formControlName="categoryId" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5" [nzOffset]="3"> 分类名称 </nz-form-label>
        <nz-form-control [nzSpan]="8" nzHasFeedback>
          <input nz-input formControlName="categoryName" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5" [nzOffset]="3"> 简介 </nz-form-label>
        <nz-form-control [nzSpan]="8" nzHasFeedback>
          <textarea nz-input formControlName="categoryDescription"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-control [nzOffset]="6">
        <button
          nz-button
          [disabled]="!categoryForm.valid"
          (click)="createCategory()"
        >
          创建新学年
        </button>
      </nz-form-control>
    </form>
  </div>
</nz-spin>
